@import './fonts.css';

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

input[type='number']::-webkit-inner-spin-button {
  display: block;
  width: 30px;
  height: 25px;
  opacity: 1;
}

input[type='number']:focus {
  outline-width: 0px;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-grow: 1;
}

#navigation::-webkit-scrollbar {
  width: 0px;
}
